@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', 'sans-serif';
}

.menu-v{
    background: rgb(37,37,39);
    width: 200px;
}

.menu-v ul{
    max-width: 800px;
    list-style: none;

}

.menu-v ul li a{
    color: #fff;
    padding: 20px;
    text-decoration: none;
    display: inline-block;
    transition: background .4s;
    width: 200px;
}

.menu-v ul li a:hover{
    background: rgb(24, 139, 233);
    text-decoration: underline;
}